apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dronacharya

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: dronacharya
  app.kubernetes.io/part-of: dronacharya
